 .d-block{
      
 }
.boder{
    border: none;
     width: 15%;
}
.icon{
     background-color: olivedrab;
}

/* <!-- Our package  --> */
.btn-top{
    margin-bottom: 20%;
}
.col{
    margin-top: 10%;
}
.helf-bg{
    background-color: lightsalmon ;
}
.top{
    margin-top: 20%;
}
  .btn{
      border: none;
      background-color: lavenderblush;
  }
  /* <!-- Questions  --> */
  .fa-angle-up{
    margin-left: 62%;
  }
  .margin{
      margin-left: 25%;
  }
  /* footer  */
.margin-left{
 
    padding-left: 50%;
}
 ;
 